html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
	line-height: 1.42857143;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: Apple-System, Arial, Helvetica, 'Roboto, Light', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
		STXihei, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	a {
		color: #1675e0;
	}
}

@font-face {
	font-family: 'Roboto, Light';
	font-style: normal;
	src: url(../../assets/fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto, Regular';
	font-style: normal;
	src: url(../../assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto, Bold';
	font-style: normal;
	src: url(../../assets/fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto, Medium';
	font-style: normal;
	src: url(../../assets/fonts/Roboto-Medium.ttf) format('truetype');
}
